# Git
.git
.gitignore

# Python virtual environments & Caches
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

# Docker und lokale Konfigurationen
.env
Dockerfile
compose.yaml
docker-compose.yml

# IDEs
.vscode/
.idea/
